{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}
    {% if subtitle %}{{ subtitle }} | {% endif %}
    {{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
    <div id="site-name">
        <a href="{% url 'admin:index' %}">
        {{ site_header|default:_('Django administration') }}
        </a>
    </div>
    {% if user.is_anonymous %}
        {% include "admin/color_theme_toggle.html" %}
    {% endif %}
{% endblock %}

{% block userlinks %}
    {% if user.is_active and user.is_staff %}
        {% url 'admin:index' as index_url %}
        {% url 'admin:logout' as logout_url %}
        {% if site_url %}
            <a href="{{ site_url }}">{% trans 'View site' %}</a> |
        {% endif %}
        <a href="{% url 'admin:user_user_change' user.id %}">{% trans 'Edit profile' %}</a> |

        <form id="logout-form" method="post" action="{{ logout_url }}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" style="background:none;border:none;color:inherit;cursor:pointer;padding:0;">
                {% trans 'Log out' %}
            </button>
        </form>
    {% else %}
        {% if user.is_active %}
            <form id="logout-form" method="post" action="{% url 'admin:logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" style="background:none;border:none;color:inherit;cursor:pointer;padding:0;">
                    {% trans 'Log out' %}
                </button>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
